{% extends "base.html" %}
<head>
    <title>Trade</title>

</head>
{% block main_content %}
<body>
<br>
<div class="col-md-4"></div>
<div class="col-md-4">
      <div class="well well-sm fade-in">
    <p> Click on a player on your team and another player in the league. Then click the
trade button to submit a trade request!</p>
</div>
          <br>

</div>
<div class="col-md-4"></div>



<div class="row">
  <div class="col-md-6 fade-in one">
  <div class="well well-sm">
            <h2> Players in the league:</h2>
  </div>
      <div class="well well-sm">
{% for player in players_in_league %}
    <div class="players_in_league" id="{{ player.id }}"> {{ player.first_name }} {{ player.last_name }}</div>
    <input type="text" id="{{ player.id }}a" style="visibility: hidden" value="{{ player.first_name }} {{ player.last_name }}">
{% endfor %}
      </div>

  </div>

{#  <div class="col-md-4">#}

{#</div>#}

  <div class="col-md-6 fade-in two">
  <div class="well well-sm">
<h2>Players on your team:</h2>
  </div>
<div class="well well-sm">
{% for player in players_in_team %}
    <div class="players_in_team" id="{{ player.id }}">{{ player.first_name }} {{ player.last_name }} </div>
        <input type="text" id="{{ player.id }}b" style="visibility: hidden" value="{{ player.first_name }} {{ player.last_name }}">
{% endfor %}
</div>
  </div>
</div>
<br>



</body>
    <div class="trade_form fade-in three">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="well well-sm">
<form action="/request_trade/" method="post"> {% csrf_token %}
Trade <input type="text" class="player_one" readonly> for <input type="text" class="player_two" readonly>? <br>
    <input type="text" style="visibility: hidden" class="one" name="trade_player">
    <input type="text" style="visibility: hidden" class="two" name="trade_player">
    <input type="text" style="visibility: hidden" name="trade_request" value="filler">
<input type="submit" class="trade_submit">
</form>
            </div>
        </div>
    <div class="col-md-4"></div>
        </div>
<script>
    $('.players_in_league').on('click', function(){
        player_id = $(this).attr('id');
        name = $('#' + player_id.toString()+'a').attr('value');
        $('.player_one').prop('value', name);
        $('.one').prop('value', player_id)
    });
    $('.players_in_team').on('click', function(){
        player_id = $(this).attr('id');
        name = $('#' + player_id.toString()+'b').attr('value');
        $('.player_two').prop('value', name);
        $('.two').prop('value', player_id)
    });
</script>

{% endblock %}